/* Remove extraneous borders from PropertySheet */

.property-sheet .scroll-pane .property-pane {
    -fx-background-color: -fx-background;
}

.property-sheet .scroll-pane {
    -fx-background-color: -fx-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.property-sheet .scroll-pane .accordion {
    -fx-padding: -1;
}

.grid-divider {
    -fx-background-color: gainsboro;
    -fx-border-color: lightgrey;
    -fx-border-width: 0px 1px 0px 1px;
}

.grid-divider-top {
    -fx-border-width: 1px 1px 0px 1px;
}

.grid-divider-bottom {
    -fx-border-width: 0px 1px 1px 1px;
}